body {
    background-color: white;
    color: black;
    padding: 20px;
}

header {
    text-align: center;
}

a {
    color: blue;
}

body {
    padding: 20px;
}


body {
    background-color: #f9f9f9;
    color: #333;
}

body {
    font-family: "Times New Roman", sans-serif;
}


